
body {
    font-family: Arial, sans-serif;
    background-color: white;
    text-align: left;
    margin: 400px;
    padding: 20px;
}

form {
    display: inline-block;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
}

fieldset {
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
}

legend {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

input, button {
    width: calc(100% - 20px);
    padding-left: 8px;
    padding-right: 10px;
    margin-bottom: 15px;
    border: 1px solid wheat;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 5px;
}
button{
    background-color: green;
}


